<div class="container-fluid no-pad" role="main">
    <div *ngIf="errors.length > 0" class="error-div">
        <div class="" *ngFor="let error of errors">{{ error}} </div>
        <span class="close-span">
            <button class="btn btn-close" (click)="errors = []"> Fermer </button>
        </span>
    </div>
    <span class="separation row"></span>
    <div class="container-fluid row">

        <div class="form-group col">
            <form [formGroup]="form" (ngSubmit)="calculate()">
                <input type="text" formControlName="name" placeholder="Nom du meuble" class="form-input" />
                <input type="number" min="0" formControlName="length" placeholder="Longueur(cm)" class="form-input" />
                <input type="number" min="0" formControlName="width" placeholder="Largeur(cm)" class="form-input" />
                <input type="number" min="0" formControlName="heigth" placeholder="Hauteur(cm)" class="form-input" />
            </form>
        </div>

        <div class="form-group col">
            <span class="volume-span row">
                <span class="text">
                    {{ volume }} (m³)
                </span>

            </span>
            <span class="separation row"></span>
            <span class="button-span row">
                <button (click)="addObject()" class="btn add-btn">Ajouter</button>
            </span>
        </div>

    </div>
    <span class="separation row"></span>
    <div class="container-fluid row">
        <div class="container-fluid row">
            <h2 class="table-title "> Inventaire </h2>
            <span class="table-title end-line"> Volume total:
                <span class="total-volume-span">{{ totalVolume }} m3 </span>
            </span>
        </div>
        <div class="container-fluid row">
            <div *ngIf="objectList.length == 0" class="content-table table-light-text" > Auncun meuble enregistré pour le moment </div>
            <table *ngIf="objectList.length > 0" class="content-table object-table container-fluid">
                <tr *ngFor="let object of objectList"
                    class="content-table container-fluid">
                    <td class="table-strong-text">{{ object.name }}</td>
                    <td class="table-light-text">L.{{ object.length }} x l.{{ object.width }} x h.{{ object.heigth }}</td>
                    <td class="table-strong-text">{{ object.volume }} m3</td>
                </tr>
            </table>
        </div>
    </div>
</div>
